<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}"/>

<!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', path='site.webmanifest') }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" type="text/css"/>

  <!-- JS -->
  <script src="{{ url_for('static', path='js/htmx.min.js') }}" type="text/javascript"></script>
</head>
<body class="dark:bg-slate-900 text-gray-300">

    {% include "shared/_header.html" %}

    <main class="bg-slate-600 max-w-screen-lg mx-auto">
        {% block content %}
        <h1>Hello, there!</h1>
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include "shared/_footer.html" %}

</body>
</html>
