{% extends "shared/_base.html" %}

{% block content %}
<section class="bg-slate-600 max-w-screen-lg mx-auto text-center">
    <h1 class="text-4xl font-bold font-serif mb-8">Welcome</h1>
    <div id="artists">
        {% for artist in artists %}
        <a href="{{ get_website(artist) }}" class="hover:underline">
            <div class="flex flex-col items-center justify-center">
                <span class="text-xl font-bold mb-2">{{artist['name']}}</span>
                <div class="rounded-s p-2 mb-6 bg-slate-500 w-">
                    {% for member in get_active_members(artist) %}
                    <span class="text-lg font-bold">{{member['name']}}<br/></span>
                    {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
